@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(239, 68%, 37%, 0.459), hsla(251, 28%, 28%, 0.664)), url("../images/background.png");
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(239, 68%, 37%, 0.459), hsla(251, 28%, 28%, 0.664)), url("../images/background.png");
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
}

.pokedex {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    gap: 30px;
    padding: 20px 0vw 0;
}